# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

PORT=6565

DATABASE_URL="sdf"
# postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=myschema&connection_limit=5&socket_timeout=3

# DATABASE_URL="postgresql://postgres:password123@localhost:5432/bajram"



BCRYPT_SALT_ROUNDS=12

STRIPE_SECRET_KEY= ""
STRIPE_WEBHOOK_SECRET = ""

DO_SPACE_ENDPOINT="https://nyc3.digitaloceanspaces.com"
DO_SPACE_SECRET_KEY=""
DO_SPACE_ACCESS_KEY=""
DO_SPACE_BUCKET=""


# Password
DEFAULT_ADMIN_PASSWORD=admin1234
DEFAULT_CONTRACTOR_PASSWORD=contractor1234
DEFAULT_CUSTOMER_PASSWORD=customer1234
DEFAULT_EMPLOYEE_PASSWORD=employee1234


# Stripe
STRIPE_SK= ""
STRIPE_PK= ""

# Paypal
PAYPAL_CLIENT_ID=YOUR_SANDBOX_CLIENT_ID
PAYPAL_SECRET=YOUR_SANDBOX_CLIENT_SECRET
PAYPAL_ENVIRONMENT=sandbox # or "production"
PAYPAL_ENDPOINT='https://api-m.sandbox.paypal.com' 

'https://api-m.paypal.com';

# Brevo Api Key
BREVO_API_KEY= ""



# Client Url
CLIENT_URL = "https://localhost:3000"


GOOGLE_MAP_API_KEY= ""


 POSTMAN_API_KEY = "";
 COLLECTION_UID = "";
